<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Zadanie Rekrutacyjne</title>
</head>

<body>
<div class="container">

    <h3>Jesteś w zakładce dane użytkowników. Dostępne opcje:</h3>

    <hr>
    <a th:href="@{/home/page}"
       class="btn btn-info col-3">
        Powrót do menu
    </a>
    <hr>
    <a th:href="@{/userData/countUsers}"
       class="btn btn-info col-3">
        Sprawdz ilość użytkowników w bazie
    </a>

    <a th:href="@{/userData/sortByAge}"
       class="btn btn-info col-3">
        Wyświetl użytkowników posortowanych po wieku
    </a>
    <a th:href="@{/userData/oldestUserWithTelephone}"
       class="btn btn-info col-3">
        Wyświetl najstarszego użytkownika który posiada nr. telefonu
    </a>
    <hr>
    <a th:href="@{/userData/lastNameSearch}"
       class="btn btn-info col-3">
        Wyszukaj użytkownika po nazwisku
    </a>
    <a th:href="@{/userData/deleteUser}"
       class="btn btn-info col-3">
        Usuń pojedyńczego użytkownika
    </a>
    <a th:href="@{/userData/deleteAll}"
       class="btn btn-info col-3">
        Usuń wszytkich użytkowników
    </a>


<hr>
    <h3 th:text="Liczba+' '+użytkowników+' '+${count}"></h3>
</div>



</body>

