<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Zadanie Rekrutacyjne</title>
</head>

<body>
<div class="container">

    <h3>Jesteś w zakładce dane użytkowników. Dostępne opcje:</h3>
    <hr>
    <a th:href="@{/home/page}"
       class="btn btn-info col-3">
        Powrót do menu
    </a>
    <hr>
    <a th:href="@{/userData/countUsers}"
       class="btn btn-info col-3">
        Sprawdz ilość użytkowników w bazie
    </a>

    <a th:href="@{/userData/sortByAge}"
       class="btn btn-info col-3">
        Wyświetl użytkowników posortowanych po wieku
    </a>
    <a th:href="@{/userData/oldestUserWithTelephone}"
       class="btn btn-info col-3">
        Wyświetl najstarszego użytkownika który posiada nr. telefonu
    </a>
    <hr>
    <a th:href="@{/userData/lastNameSearch}"
       class="btn btn-info col-3">
        Wyszukaj użytkownika po nazwisku
    </a>
    <a th:href="@{/userData/deleteUser}"
       class="btn btn-info col-3">
        Usuń pojedyńczego użytkownika
    </a>
    <a th:href="@{/userData/deleteAll}"
       class="btn btn-info col-3">
        Usuń wszytkich użytkowników
    </a>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Data Urodzenia</th>
            <th>Telefon</th>
        </tr>
        </thead>

        <tr th:each="temp : ${users}">

            <td th:text="${temp.id}"></td>
            <td th:text="${temp.firstName}"></td>
            <td th:text="${temp.lastName}"></td>
            <td th:text="${temp.birthDay}"></td>
            <td th:text="${temp.phoneNo}"></td>
        </tr>
        </tbody>
    </table>
    <span th:if="${users.isEmpty()}">Nie ma użytkowników.</span>


    <div class="pagination-div">
    <span th:if="${users.hasPrevious()}">
        <a th:href="@{/userData/sortByAge(page=${users.number-1})}" class="btn btn-info col-1">Poprzednia</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, users.totalPages - 1)}">
            <span th:if="${users.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${users.number == i}">
             <a th:href="@{/userData/sortByAge(users=${i},size=${users.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${users.hasNext()}">
        <a th:href="@{/userData/sortByAge(page=${users.number+1})}" class="btn btn-info col-1">Kolejna</a>
    </span>

    </div>
</div>
</body>

